${esc.hash} Named Sync Context for Maven Resolver

<!--
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.
-->

The Named Sync Context Factory is a distributed lock factory for Maven Resolver
on top of JVM and Hazelcast to provide a fast, concurrent-safe access from one or multiple Maven instances to the
same local Maven repository.

For further details about the factory read the [Javadoc](./apidocs/org/eclipse/aether/synccontext/NamedSyncContextFactory.html).

${esc.hash}${esc.hash} Open Issues/Notes

- It only works when dependency injection is used and not the bundled `AetherModule` or
  `ServiceLocator` (Maven uses dependency injection).
- It includes a lot of trace logging which partially will go way as soon as it has been stabilized.
- Usage from plugins has not been tested yet.
- The `furnace-maven-plugin` does not work this implementation because it uses `ServiceLocator` instead
  of dependency injection.

${esc.hash}${esc.hash} Installation/Testing

- Create the directory `${maven.home}/lib/ext/hazelcast/`.
- Modify `${maven.home}/bin/m2.conf` by adding `load ${maven.home}/lib/ext/hazelcast/*.jar`
  right after the `${maven.conf}/logging` line.
- Copy the following dependencies (depending on your need, only one is needed) from Maven Central to `${maven.home}/lib/ext/hazelcast/`:
      <pre class="source">
      ├── <a href="https://repo.maven.apache.org/maven2/com/hazelcast/hazelcast/3.12.10/hazelcast-3.12.10.jar">hazelcast-3.12.10.jar</a>
      <pre class="source">
      ├── <a href="https://repo.maven.apache.org/maven2/com/hazelcast/hazelcast-client/3.12.10/hazelcast-client-3.12.10.jar">hazelcast-client-3.12.10.jar</a>
- Optionally configure Hazelcast instance with `${maven.conf}/hazelcast.xml` or `${maven.conf}/hazelcast-client.xml` (see Hazelcast doco for possibilities).
- Now start a multithreaded Maven build on your project.

${esc.hash}${esc.hash}${esc.hash} Debugging

- Add/modify the following entries in `${maven.home}/conf/logging/simplelogger.properties`:
      ```
      org.slf4j.simpleLogger.showDateTime=true
      org.slf4j.simpleLogger.showThreadName=true
      org.slf4j.simpleLogger.showShortLogName=true
      org.slf4j.simpleLogger.log.org.eclipse.aether.synccontext=trace
      #org.slf4j.simpleLogger.log.com.hazelcast=debug
      ```

${esc.hash}${esc.hash} Configuration Options

Option | Type | Description | Default Value
--- | --- | --- | --- | ---
`aether.syncContext.redisson.discriminator` | String | A discriminator uniquely identifying a host and repository pair. If the generation of the default value fails, it will use `sha1('')`. | `sha1('${esc.dollar}{hostname:-localhost}:${maven.repo.local}')`

${esc.hash}${esc.hash} Set Configuration from Apache Maven

To set one of the configuration options from above just use system variables.
